<div class="question">
  <div class="vote-button">
    <a href="#">
      <%= form_tag votes_path, remote: true do %>
        <%= hidden_field_tag :question_id, question.id %>
        <%= submit_tag 'Upvote' %>
      <% end %>
    </a>
  </div>

  <div class="vote-count">
    <%= question.vote_count %>
  </div>

  <div class="question-show">
    <div class="question-body">
      <%= question.body %>
    </div>

    <div class="question-author">
      Asked by <%= question.author %>
    </div>
  </div>
</div>